@charset "utf-8";
/* CSS Document */
/*--------------------------table-----------------------------*/
#re_list{width:1070px;}
table#re_list tr td{white-space: nowrap;}
table#re_list form{width:45px; float:left; vertical-align: bottom;}
