@charset "utf-8";
/* CSS Document */
#main{width:100%;height:600px;}
#search_div{width:325px; margin:10px 0 0 0;padding:5px;background:rgba(255,255,255,0.7);border-radius:10px 10px 0 0 ;}
.item_list{height:530px;background:rgba(255,255,255,0.7);border-radius:0 10px 10px 10px;box-shadow:6px 6px 5px rgba(20%,20%,40%,0.5);padding:10px;margin:0 0 10px 0;}
h1{width:100%;text-align:left;font-size:15pt;color:#FFF;line-height:47px;border-bottom:rgba(255,255,255,0.6) dashed 1px;text-shadow:0 0 5px rgb(0,0,0);position:relative;z-index:1;}
/*--------------------------table-----------------------------*/
#re_list{width:1005px;}
table#re_list tr td{white-space: nowrap;}
table#re_list form{width:45px; float:left; vertical-align: bottom;}
