@charset "utf-8";
#main{width:100%;height:650px;}
.item_class{
	width: 20%;
	height: 97%;
	float:left;
	background:rgba(255,255,255,0.7);
	border-radius:10px 0 0 10px;
	margin:10px 0;
	padding:10px;
	box-shadow:6px 6px 5px rgba(20%,20%,40%,0.5);
	overflow-y: auto;
}
.item_list{width: 75%; height: 97%; float:left;background:rgba(255,255,255,0.7);border-radius:0 10px 10px 0;margin:10px 0;padding:10px;box-shadow:6px 6px 5px rgba(20%,20%,40%,0.5);}

/*----------------------------------.item_class區塊----------------------------------*/

.item_class li{line-height:47px; border-bottom:#AAA solid 1px; padding:0 10px}
.item_class li:hover{background:rgba(255,255,255,0.4);}
.item_class li a{ text-decoration: none;color:#000; font-weight:lighter;font-size:12pt}
.item_class li a:hover{color:#666;}

/*----------------------------------.item_list區塊----------------------------------*/

.item_list h1{
	margin-left: 1%;
	font-size:15pt;
	color:#FFF;
	line-height:47px;
	border-bottom:rgba(255,255,255,0.6) dashed 1px;
	text-shadow:0 0 5px rgb(0,0,0)
}
.item_list > div.item {
	width: 32%;
	height: 41%;
	display: inline-block;
	margin-right: auto;
}
#page_num{text-align: center;}
